@import url("./css/utils.css");
@import url("./css/home.css");
@import url("./css/sidebar.css");
@import url("./css/bank.css");
@import url("./css/footer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/** Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/** Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
.glassmorphism {
   background: rgba(255, 255, 255, 0.25);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
   width: 3px;
   height: 3px;
   border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
   background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background: #5c5c7b;
   border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: #7878a3;
}

@layer utilities {
   /* Root Layout */
   .root-layout {
      @apply flex items-center justify-between h-16 p-5 shadow-creditCard sm:p-8 md:hidden;
   }
   /* END: root layout */

   .input-class {
      @apply text-gray-900 border border-gray-300 rounded-lg text-16 placeholder:text-16 placeholder:text-gray-500;
   }

   .sheet-content button {
      @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
   }

   /* START: HEADER */
   .header-box {
      @apply flex flex-col gap-1;
   }

   .header-box-title {
      @apply font-semibold text-gray-900 text-24 lg:text-30;
   }

   .header-box-subtext {
      @apply font-normal text-gray-600 text-14 lg:text-16;
   }
   /* END: HEAEDER */

   /* START: Transactions  */
   .transactions {
      @apply flex flex-col w-full max-h-screen gap-8 p-8 overflow-y-scroll bg-gray-25 xl:py-12;
   }

   .transactions-header {
      @apply flex flex-col items-start justify-between w-full gap-8 md:flex-row;
   }

   .transactions-account {
      @apply flex flex-col justify-between gap-4 px-4 py-5 bg-blue-600 rounded-lg border-y md:flex-row;
   }

   .transactions-account-balance {
      @apply flex-col gap-2 px-4 py-2 text-white rounded-md flex-center bg-blue-25/20;
   }
   /* END: Transactions  */

   /* START: Category Badge  */
   .category-badge {
      @apply flex-center truncate w-fit gap-1 rounded-2xl border-[1.5px] py-[2px] pl-1.5 pr-2;
   }
   /* END: Catagory Badge  */

   /* START: Mobile nav */
   .mobilenav-sheet {
      @apply flex h-[calc(100vh-100px)] flex-col justify-between overflow-y-auto;
   }

   .mobilenav-sheet_close {
      @apply flex items-center w-full gap-3 p-4 rounded-lg max-w-60;
   }
   /* END: Mobile nav */

   /* START: PlaidLink */
   .plaidlink-primary {
      @apply font-semibold text-white border rounded-lg text-16 border-bankGradient bg-bank-gradient shadow-form;
   }

   .plaidlink-ghost {
      @apply flex items-center justify-center gap-3 px-3 rounded-lg cursor-pointer py-7 hover:bg-white lg:justify-start;
   }

   .plaidlink-default {
      @apply flex !justify-start cursor-pointer gap-3 rounded-lg !bg-transparent flex-row;
   }
   /* END: PlaidLink */

   /* START: Auth */
   .auth-asset {
      @apply sticky top-0 flex items-center justify-end w-full h-screen bg-sky-1 max-lg:hidden;
   }

   .auth-form {
      @apply flex min-h-screen w-full max-w-[420px] flex-col justify-center gap-5 py-10 md:gap-8;
   }
   /* END: Auth */

   /* START: Form */
   .form-item {
      @apply flex flex-col gap-1.5;
   }

   .form-label {
      @apply text-14 w-full max-w-[280px] font-medium text-gray-700;
   }

   .form-message {
      @apply text-red-500 text-12;
   }

   .form-btn {
      @apply font-semibold text-white border rounded-lg text-16 border-bankGradient bg-bank-gradient shadow-form;
   }

   .form-link {
      @apply font-medium cursor-pointer text-14 text-bankGradient;
   }
   /* END: Form */

   /* START: Payment Transfer */
   .payment-transfer {
      @apply flex flex-col p-8 overflow-y-scroll no-scrollbar bg-gray-25 md:max-h-screen xl:py-12;
   }

   .payment-transfer_form-item {
      @apply flex w-full max-w-[850px] flex-col gap-3 md:flex-row lg:gap-8;
   }

   .payment-transfer_form-content {
      @apply flex w-full max-w-[280px] flex-col gap-2;
   }

   .payment-transfer_form-details {
      @apply flex flex-col gap-1 pt-6 pb-5 border-t border-gray-200;
   }

   .payment-transfer_btn-box {
      @apply mt-5 flex w-full max-w-[850px] gap-3 border-gray-200 py-5;
   }

   .payment-transfer_btn {
      @apply text-14 w-full bg-bank-gradient font-semibold text-white shadow-form !important;
   }
   /* END: Payment Transfer */
}
